*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linear{
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    background: linear-gradient(120deg, blue, yellow, orange, grey, green, red);
    background-size: 600%, 600%;
    animation: gradient-move 3s ease infinite alternate;
}
@keyframes gradient-move {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 50% 100%;
    }
}
h1, p{
    text-align: center;
}
p{
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 20px #fff, -2px -2px 10px #fff;
}
.rotation{
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.rotation::before{
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(red, yellow, blue, red);
    animation: rotate 2s linear infinite;
    z-index: 0;
}
.rotation p{
    position: relative;
    z-index: 1;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}